/* Theme */

html {
  scroll-behavior: smooth;
}

/*Radial movement background*/
.radial-gradient {
  top:0px;
  left:0px;
  height:100%;
  width:100%;

  /*Fallback if gradeints don't work */
  background: #4B0082;
  /*Linear gradient... */
  background:
    radial-gradient(
     at center, #ff57cd, #4B0082
    );
}

/*Linear moving gradient background*/
/*
main {
	margin: 0;
  color: #fff;
  background: linear-gradient(-45deg, #fdeff9, #ec38bc, #7303c0, #03001e);
	background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/

.icons-social a {
	color: #FFF;
}
.icons-social a:hover{
	color: #FFFFFF;

}

.icons-social a svg path{
	fill: #FAFAFA;
}

 .scrollicon a span {
  position: absolute;
  left: 50%;
  bottom:0;
  width: 3rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  margin-left: -1.4rem;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}



/*Second Division - Blog/CV*/

.page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.page-container {
	 pointer-events: none;
}
 .center-content {
	 display: inline-block;
	 width: 100%;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 text-align: center;
	 z-index: 1;
}
 .letter-container {
	 display: inline-block;
	 position: relative;
	 width: 4.4rem;
	 height: 5.5rem;
	 line-height: 5.5rem;
	 overflow: hidden;
}
 .letter-container .letter {
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: inline-block;
	 color: #fff;
	 font-size: 5.5rem;
	 font-weight: 900;
	 transition: all 0.3s;
	 white-space: none;
}
 .letter-container .letter:first-of-type {
	 left: -4.4rem;
}
 .letter-container .letter:last-of-type {
	 left: 4.4rem;
}


.container{
  display:flex;
  width:100%;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

/*
.non-hover{
  position: absolute;
  left: 42%;
  height: 100%;
  width: 9.4rem;
  z-index: 3;
}
*/
.blog,
.resume {
  min-height: 100vh;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all .3s;
  z-index: 0;
}
.blog:hover {
    width: 75%;
  }

.resume:hover {
      width: 150%;
  }

	.blog {
		 left: 0;
		 background: linear-gradient(180deg, #ff57cd, #4B0082);
		 background-size: cover;
		 background-position: center;
	}
	 .blog:hover + div {
		 width: 25%;
	}
	 .blog:hover + div + div .center-content .letter {
		 left: 4.4rem;
		 transition: none;

	}
	 .blog:hover + div + div .center-content .letter:first-of-type {
		 left: 0;
		 transition: all 0.3s;
	}

	.resume {
		 right: 0;
     background: linear-gradient(180deg, #ec38bc, #7303c0, #03001e);
		 background-size: cover;
		 background-position: center;
	}
	 .resume:hover + div .center-content .letter {
		 left: -4.4rem;
		 transition: none;
	}
	 .resume:hover + div .center-content .letter:last-of-type {
		 left: 0;
		 transition: all 0.3s;
	}
