{% extends 'blog/base.html' %}

{% block landing %}

{% if post.bg %}
  <div class="landing-bg" style="background:url({{ post.bg.url }}) center top">
{% else %}
  <div class="landing-blog">
{% endif %}
<center>
  <h1>{{ post.title }}</h1>
  </center>
  {% if post.date_published %}
    <div class="date-landing">{{ post.date_published }}</div>
  {% endif %}

</div>
{% endblock %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
        <div style="text-align:right; right:20px;">
        <a class="btn btn-default" style="font-size:20px;" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit"></i></a>
        <a class="btn btn-default" style="font-size:20px;" href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-trash"></i></a>
        </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

{% block scripts %}
{%  if post.bg %}
<script>
  $(document).ready(function(){
    $(window).scroll(function() { // check if scroll event happened
      if ($(document).scrollTop() > 680) { // check if user scrolled more than 50 from top of the browser window
        $(".bg").css("background-color", "#000000"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
      } else {
        $(".bg").css("background-color", "transparent"); // if not, change it back to transparent
      }
    });
  });
</script>
{% else %}

<script>
  $(document).ready(function(){
    $(window).scroll(function() { // check if scroll event happened
      if ($(document).scrollTop() > 320) { // check if user scrolled more than 50 from top of the browser window
        $(".bg").css("background-color", "#000000"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
      } else {
        $(".bg").css("background-color", "transparent"); // if not, change it back to transparent
      }
    });
  });
</script>

{% endif %}

{% endblock %}
