{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.2">

	<title>Raef's Website</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="stylesheet" href="{% static 'css/homepage/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/homepage/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/homepage/theme.css' %}">
	<!--<link rel="icon" href="https://www.favicon.cc/?action=icon&file_id=629108" type="image/x-icon">-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	$(document).mousemove(function(event) {
		windowWidth = $(window).width();
		windowHeight = $(window).height();

		mouseXpercentage = Math.round(event.pageX / windowWidth * 100);
		mouseYpercentage = Math.round(event.pageY / windowHeight * 100);

		$('.radial-gradient').css('background', 'radial-gradient(at ' + mouseXpercentage + '% ' + mouseYpercentage + '%, #ff57cd, #4B0082)');
	});

	</script>

	</head>
<body>

	<div class="radial-gradient">
		<div class="intro">Hello, I'm Raef!</div>
		<div class="tagline">Welcome to my Website.</div>

<!--
		<div class="webpages">
			<span><a href="{% url 'post_list' %}">Blog</a></span>
			<span><a>CV</a></span>
		</div>
-->

		<div class="social-footer">
			<div class="icons-social">
				<a target="_blank" href="https://github.com/mhdraef"><i class="fab fa-github"></i></a>
				<a target="_blank" href="https://www.linkedin.com/in/raefhamdan"><i class="fab fa-linkedin"></i></a>
    	</div>
		</div>

		<div class="scrollicon">
		<a href="#choose"><span></span></a>
		</div>


	</div>

	<div class="container" id="choose" >
		<div class="blog" onclick="location.href='blog';" style="cursor: pointer;"></div>
		<div class="resume"onclick="location.href='cv';" style="cursor: pointer;"></div>

		<div class="page-container">
			<div class="non-hover"></div>
			<div class="center-content">

		    <div class="letter-container">
		      <span class="letter"></span>
		      <span class="letter">C</span>
		      <span class="letter">C</span>
		    </div>
		    <div class="letter-container">
		      <span class="letter"></span>
		      <span class="letter">H</span>
		      <span class="letter">V</span>
		    </div>
		    <div class="letter-container">
		      <span class="letter">B</span>
		      <span class="letter">O</span>
		      <span class="letter"></span>
		    </div>
		    <div class="letter-container">
		      <span class="letter">L</span>
		      <span class="letter">O</span>
		      <span class="letter"></span>
		    </div>
		    <div class="letter-container">
		      <span class="letter">O</span>
		      <span class="letter">S</span>
		      <span class="letter"></span>
		    </div>
		    <div class="letter-container">
		      <span class="letter">G</span>
		      <span class="letter">E</span>
		      <span class="letter"></span>
		    </div>

			</div>
		</div>
	</div>

<!--
<footer class="footer">
	 <a href="#"><i class="fa fa-arrow-up"></i></a>
</footer>-->
</body>
</html>
