{% extends 'blog/base.html' %}

{% block landing %}
<div class="landing-main">
  <center><h1>Welcome to my blog!</h1></center>
</div>
{% endblock %}

{% block page-header %}
  {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu-plus"><span class="glyphicon glyphicon-plus"></span></a>
  {% endif %}
{% endblock %}
{% block content %}
{% for post in posts %}
      <div class="post">
        <h2><a href="{% url 'blog_post' pk=post.pk %}">{{ post.title }}</a></h2>
        <div class="date">
            <p>Published: {{ post.date_published }}</p>
        </div>
        <p>{{ post.text|truncatewords:100 }}</p>
      </div>
{% endfor %}
{% endblock %}
