{% extends 'blog/base.html' %}

{% block landing %}
  <div class="landing-blog">
  <center><h1>Blog</h1></center>
</div>
{% endblock %}

{% block page-header %}
  {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}"><i class="fas fa-plus"></i></a><li>
  {% endif %}
{% endblock %}



{% block content %}
{% for post in posts %}
      <div class="post card p-3">
        <h2 class="card-title">{{ post.title }}</h2>
        <div class="date">
            <p>{{ post.date_published }}</p>
        </div>
        {% if post.summary %}
        <div class="post-text">
        <p>{{ post.summary }}</p>
        </div>
      {% endif %}
      <a class="stretched-link" href="{% url 'blog_post' pk=post.pk %}"></a>
      </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $(window).scroll(function() { // check if scroll event happened
      if ($(document).scrollTop() > 320) { // check if user scrolled more than 140 from top of the browser window
        $(".bg").css("background-color", "#000000");
      } else {
        $(".bg").css("background-color", "transparent"); // if not, change it back to transparent
      }
    });
  });
</script>
{% endblock %}
