h1, h2, h3, h4 {
    color: #000000;
    font-family: sans-serif;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 0px 20px 0px 55px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}
.page-header h3 a{
  color: #FFFFFF;
}

.date-landing {
    color: #fff;
    position:absolute;
    bottom:0;
    right:10px;
    font-size: 25px;

}

.save {
    float: right;
}

.edit{
  position: absolute;
  right:10px;
  top:0;
  font-size: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
    margin-top: 15px;
}

.logout a{
  color: #ffffff;
}

.top-menu-plus, .top-menu-plus:hover, .top-menu-plus:visited{
  color: #ffffff;
  font-size: 26pt;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.post {
    margin-top: 30px;
    margin-bottom: 30px;
}

.post p{

  font-size: 20px;

}

.post .date p{
  color: #828282;
  font-size: 15px;

}

.post h2 a, .post h3 a, .post h3 a:hover {
    color: #000000;
    font-family: sans-serif;
}

.post-text p{

  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 15px;

}

.landing-bg{
  min-height: 100vh;
  position:relative;

}

.landing-bg h1 {
  position:absolute;
  top:45%;
  width: 100%;
  font-size: 60px;
  font-family:sans-serif;
  font-weight: bold;
  color: #fff;
}

.landing-bg h3 {
  position:absolute;
  top:60%;
  width: 100%;
  font-size: 20px;
  font-family:sans-serif;
  color: #fff;
}

.landing-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  min-height: 50vh;
	margin: 0;
  color: #fff;
  background: linear-gradient(-45deg, #fdeff9, #ec38bc, #7303c0, #03001e);
	background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
}

.landing-blog h1 {
  font-size: 5rem;
  font-family:sans-serif;
  font-weight: bold;
  color: #fff;
}


.landing-main {
  position: relative;
  min-height: 100vh;
	margin: 0;
  color: #fff;
  background: linear-gradient(-45deg, #fdeff9, #ec38bc, #7303c0, #03001e);
	background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
}

.landing-main form {

  position: absolute;
  top: 50%;
  width: 97%;

}

.login td{
  font-size: 2rem;
}

.landing-main h1 {
  position:absolute;
  top:45%;
  width: 100%;
  font-size: 60px;
  font-family:sans-serif;
  font-weight: bold;
  color: #fff;
}

.landing-main h3 {
  position:absolute;
  top:45%;
  width: 100%;
  font-size: 30px;
  font-family:sans-serif;
  font-weight: bold;
  color: #fff;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-dark{
  background: transparent;
  border-color: transparent;
}

.navbar-toggle{
  border:none;
}

.navbar-dark .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link{
  color: #D3D3D3;
  font-size: 18px;
  margin-left: 10px;

}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;

}


footer {
  padding: 25px 0 25px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.card{
border-radius: 6px;
box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0px 0 1px rgba(10,10,10,.02);
}

.card:hover{
  background-color: #DADADA;
}
